body {
    /* feel free to change height */
    height: 2400px;
    background: linear-gradient(
      to bottom,
      #101832,
      #152455
    );
  }
  
  h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 100;
    padding: 25px 15px;
    text-shadow: 1px 1px 1px #333;
  }
  
 .star-svg {
    right: 0;
    width: 100%;
    position: absolute;
    top: 360px;
  }

  
#steps {
    width: 620px;
    margin: auto;
    margin-top: 280px;
}

img{
    width: 200px;
    position: relative;
    float: right;
}

.visited{
    width:210px;
}

#step2{
    float:left; 
    margin-top: 500px; 
    margin-left: -80px
}

#step3{
    margin-top: 1200px;
    margin-right: -240px;
}
#step4{
    float:left; 
    margin-top: 1900px; 
    margin-left: -140px
}